

<h2 class="mt-2 text-center bg-warning">
    Even Number
</h2>

<ul class="list-group">
    <li *ngFor="let even of evenArr"
     class="list-group-item">
    {{even}}
    </li>
</ul>


<h2 class="mt-2 text-center bg-info">
    Odd Number
</h2>

<ul class="list-group">
    <li *ngFor="let odd of oddArr"
    class="list-group-item">
    {{odd}}
        
    </li>
</ul>

<h2 class="mt-2 text-center bg-secondary">
    Lists
</h2>

<ul class="list-group">
    <li *ngFor="let list of strInfo"
    class="list-group-item">
       <strong>{{list}}</strong>
    </li>
</ul>

